@font-face {
  font-family: "Lato";
  font-weight: 400;
  src: url("./assets/fonts/Lato-Regular.woff2"),
    url("./assets/fonts/Lato-Regular.woff");
}

@font-face {
  font-family: "Lato";
  font-weight: 700;
  src: url("./assets/fonts/Lato-Bold.woff2"),
    url("./assets/fonts/Lato-Bold.woff");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Lato", "Courier New", Courier, monospace;
  font-size: 10px;
}
